<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="wrapper p-10 bg-slate-500 h-screen w-full">
        <div class="content bg-white p-6 rounded-lg shadow-lg">
            <div class="form">
                <form action="/create" method="post" class="space-y-4">
                    <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none"
                        name="title" placeholder="Enter Task Title">
                    <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none"
                        name="details" placeholder="Enter Task Details">
                    <button type="submit"
                        class="px-3 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Submit</button>
                </form>
            </div>

            <div class="data-box mt-5 bg-black rounded-md flex flex-wrap gap-10 p-5 justify-evenly">
                <% if(files.length > 0){ %>
                    <% files.forEach(function (val) { %>
                        <div class="data w-72 bg-slate-600 p-5 rounded-md text-center text-white">
                            <div class="text-title px-3 mb-5 py-2 w-auto"> <%= val %> </div>    
                            <a href="" class="bg-blue-500 rounded-md px-3 py-2">Read More</a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <h2 class="text-white">No Tasks Available</h2>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>
